services:
  speedtest:
    build: .
    image: ghcr.io/akvorrat/netzbremse.de-measurement:latest
    container_name: netzbremse-speedtest
    restart: unless-stopped
    environment:
#     NB_SPEEDTEST_ACCEPT_POLICY: true
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '1'