services:
  speedtest:
    image: ghcr.io/akvorrat/netzbremse-measurement:latest
    container_name: netzbremse-speedtest
    restart: unless-stopped
#    environment:
#      NB_SPEEDTEST_ACCEPT_POLICY: true
#      NB_SPEEDTEST_JSON_OUT_DIR: './json-results'
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '1'
#    volumes:
#      - ${NB_SPEEDTEST_JSON_OUT_DIR}:/app/json-results
